@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comic+Relief:wght@400;700&family=Gabarito:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comic+Relief:wght@400;700&family=Gabarito:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

main {
    flex: 1;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    /* border: 2px solid black; */
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #0000003c;
    color: white;
    /* border: 2px solid rgb(255, 255, 255); */

}

.links {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.links ul {
    /* border: 2px solid white; */

    padding: 15px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.links ul a {
    text-decoration: none;
    color: white;

}

.links ul li {
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    /* border: 2px solid white; */

}

.links ul li:hover {
    transform: scale(1.2);
    background-color: #f04e18;

}

.Branding {
    /* border: 2px solid orange; */
    margin-left: 30px;
}



.footer-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;


}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 52px 42px;
    margin: 20px auto;
    padding: 0 20px;
    justify-content: center;
    align-content: center;
    /* border: 2px solid black; */
}

.cards {
    width: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.587);
    justify-self: center;
    gap: 0px;
    transition: all 0.4s ease-in-out;
}

.cards:hover {
    transform: scale(1.07);
    box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}

.image {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */

}

.cards .image img {
    width: 100%;
    height: 50vh;
    border-radius: 10px;

}

.des {
    /* border: 2px solid black; */
    color: white;
    margin: 0 0 5px 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.cards a {
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: #f04e18;
    padding: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0 0 15px 0;
}

.cards a:hover {
    background-color: #f04e18a7;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;

}

@media screen and (max-width: 866px) {
    .card-container {

        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 747px) {
    .card-container {

        grid-template-columns: repeat(2, 1fr);
    }

    .links ul {
        /* border: 2px solid white; */
        gap: 10px;
    }
}

@media screen and (max-width: 483px) {
    .card-container {

        grid-template-columns: 1fr;
    }

    nav {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.235);
        color: white;
        text-align: center;


    }

    .links ul li {

        border-radius: 6px;
        transition: all 0.2s ease-in-out;
        /* border: 2px solid white; */
    }
}

@media screen and (max-width: 411px) {
    .links {
        /* border: 2px solid green; */
        display: flex;
        justify-content: center;
        margin-left: 50%;
        transform: translateX(-50%);

    }

    .links ul {


        list-style: none;
        display: flex;
        flex-direction: row;
        justify-self: center;
        gap: 18px;
        /* border: 2px solid white; */


    }

    .links ul li {
        padding: 2px 5px;
    }


    .Branding {
        /* border: 2px solid orange; */
        margin-left: 10px;
    }
}




/*🟢 About-Us css👇👇 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {

    max-width: 800px;
    margin: 2% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.667);
    text-align: center;
    background: #ffffff1a;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* border: 2px solid black; */

}

.heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.subHeading {
    font-size: 16px;
    color: #555;
}

.team-member {
    display: flex;
    width: 250px;
    align-items: center;
    padding: 10px;
    margin: 40px 0;
    border-radius: 25px;
    background: #ffffff1a;
    box-shadow: 0px 0px 10px black;


}

.team-member img {
    width: 60px;
    height: 60px;
    border-radius: 60%;
    margin-right: 15px;
}

.team-member p {
    margin: 0;
    color: white;
    font-size: 1.2rem;
}

.Contact-Us-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #00d0ff;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 1px 1px 10px black;
    transition: 0.3s ease;
}

.Contact-Us-btn:hover {
    background-color: #00d0ff6e;
}

.container>p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

/*🔴 End About-Us css 👆👆*/